$primary-text: Tahoma, Arial, sans-serif; 
$primary-color: rgb(255, 255, 255);
$primary-heading: 'Moving Skate';

@font-face {
    font-family: 'Moving Skate';
    src: url('..images/MovingSkate.ttf')  format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: fallback;
}

// * {
//     margin: 0 !important;
//     padding: 0!important;
// }

body {
    text-align: center;
    height: 100vh !important;
    width: 100%;
}

.border-container {
    border: thin solid black;
    min-width: 70%;
    // margin: 2em;
    // margin-right: 2em;
    // margin-left: 2em;
    // padding: 1em;
}

nav {
    width: 100%;
    background-color: rgba(0, 0, 0, .75);
}

h1 {
    font-family: $primary-heading;
    color: $primary-color;
    font-size: 150px;
    letter-spacing: 8px;
    text-shadow: 2px 2px 3px rgb(100, 100, 100);
    margin-right: auto;
    margin-left: auto;
}

.selections {
    font-family: $primary-text;
    color: $primary-color;
}

.transparent {
    max-height: 500px;
    background-color: rgb(37, 37, 37);
    opacity: .9;
    margin-top: 204px !important;
    margin-bottom: 1.8em;
}

a {
    color: rgb(37, 37, 37) !important;
}

.ratings {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-variant: small-caps;
    color: rgb(37, 37, 37);
    font-size: 12px;
    letter-spacing: 1px;
}

.rating-num {
    font-size: 9px;
}

#inner-container {
    // position: fixed;
    height: 50%;
}


#div-contain {
    width: 60% !important;
    margin-right: auto;
    margin-left: auto;
}
