$primary-text: Tahoma, Arial, sans-serif; 
$primary-color: rgb(151, 186, 197);
$primary-heading: 'Elephant';

// @font-face {
//     font-family: 'Moving Skate';
//     src: url('C:\Windows\Fonts\MovingSkate.ttf')  format('truetype');
//     font-weight: 800;
//     font-style: normal;
//     font-display: fallback;
// }

// * {
//     margin: 0;
//     padding: 0;
// }

body {
    text-align: center;
}

.border-container {
    border: thin solid black;
    min-width: 30%;
    margin: 2em;
    margin-right: 2em;
    margin-left: 2em;
    padding: 2em;
}


h1 {
    font-family: $primary-heading;
    font-size: 60px;
    letter-spacing: 8px;
    text-shadow: 3px 3px 3px #ccc;
}

.selections {
    font-family: $primary-text;
    color: $primary-color;
}

.transparent {
    max-height: 600px;
    background-color: white;
    opacity: .8;
}